extends layouts/layout

block title
  h1 Francine Lefebvre

block content
  .content_gray_summary
    h2 Biographie
    p Native de
      |Berthierville, Québec, j'ai commencé ma quête existentielle à l'âge de sept ans,
      |suite à la mort tragique de mon père. Non seulement j'ai cherché dans le Ciel des
      |signes de ce père qui me manquait tant, mais aussi des réponses aux questions
      |relatives de la vie après la mort.

    p Ce
      |questionnement doublé de ma fascination pour la science-fiction et les
      |ordinateurs m'amena à exercer la profession d'analyste-programmeur tant à l'Hôpital
      |Royal Victoria de Montréal qu'au Centre Informatique de Gestion de l'Université
      |de Montréal. Après y avoir travaillé huit années, j'y suis retournée en tant
      |qu'étudiante. En Art, cette fois-ci.

    p La peinture
      |apaisa si bien mon âme endeuillée que, reconnaissante envers ce médium, je l'ai
      |enseigné une dizaine d'années dans l'Ouest-de-l'Île de Montréal, là où j'y ai
      |organisé plusieurs vernissages. L'organisation de ces évènements m'a permis de me
      |découvrir un engouement pour cette profession. Et c'est une fois installée à
      |Ste-Adèle que j'y ai exercé le métier de galeriste en devenant propriétaire de
      |la galerie-librairie <i>L'Oasis de paix</i>.

    p Ma vie se
      |déroulait bien jusqu'au jour où, dans la nuit du 24 décembre 1998 alors que
      |j'étais hospitalisée en attente d'une deuxième chirurgie prévue pour le lendemain,
      |et ce, à la suite d'une grave infection nosocomiale encore inconnue du corps
      |médical, je fis un rêve étrange.  

    p Ce rêve débuta
      |par la rencontre d'un grand jeune homme blond aux yeux bleus, accompagné de ma
      |mère décédée sept mois auparavant. Ce jeune homme, qui était au courant de mes
      |faibles chances de survie, m'exhorta à promettre d'écrire le livre qu'il tenait
      |dans les mains, si je voulais avoir la vie sauve. J'ai accepté d'emblée, car,
      |connaissant la douleur d'être orpheline, je ne voulais en aucun cas infliger une
      |perte semblable à mon fils de onze ans.

    p Aussi, le jour
      |de Noël au matin, alors que je me préparais mentalement à subir cette chirurgie
      |redoutée, mon chirurgien est venu me proposer un traitement expérimental qui se
      |composait d'un cocktail d'antibiotiques. J'ai accepté d'emblée. Une heure après
      |l'avoir reçu, ma température commença à baisser et ma pression remonta si bien
      |que l'opération fut annulée et j'ai célébré le plus beau Noël de ma vie.

    p Ma convalescence
      |fut très longue. Une fois la santé recouvrée, j'ai commencé, dans la nuit du 15
      |avril 2000, à rêver du jeune homme qui était accompagné de ma mère. Assise dans
      |une salle de cinéma entre ces deux personnes, j'ai vu se dérouler sur le grand
      |écran le premier chapitre de mon livre. Réveillée en sursaut, je transcris dans
      |les moindres détails cette projection cinématographique. Et c'est ainsi que, fidèle
      |à ma promesse d'écriture, je colligeai, nuit après nuit, ces informations
      |oniriques qui se révélaient souvent des plus surprenantes, et ce, toujours sans
      |en connaître ni le titre et encore moins l'épilogue.

    p L'écriture
      |avançait lentement, ma formation académique étant l'informatique. En revanche, la
      |logique, fonction inhérente aux informaticiens, m'a grandement servi à unifier
      |l'ensemble de l'œuvre. Puis un jour de septembre 2006, le « Ciel » m'est venu
      |en aide. Simon-Pier Labelle-Hogue, un copain de mon fils qui venait d'être
      |accepté à l'Université d'Ottawa en littérature française, accepta d'en faire la
      |correction. Je mettais à profit tous ses commentaires ainsi que ses conseils
      |judicieux, j'avais tellement confiance en lui, et avec raison d'ailleurs, il complète
      |actuellement des études de sociologie de la littérature à l'École normale
      |supérieure de Paris et à l'Université Paris-Sorbonne (Paris IV) et il est
      |l'auteur d'un recueil de poésie intitulé&nbsp;: <i>Morphologie du loup</i> aux
      |éditions Poètes de brousse.

    p La grammaire et la syntaxe n'étant plus un si grand obstacle, il me restait à assimiler ces
      |révélations oniriques, qui devenaient de plus en plus troublantes. C'est à mon
      |corps presque défendant, et ce, sans égard à mes convictions personnelles que
      |j'ai pu réussir à le rédiger.

    p Je me demandais où allait ce roman, qui, au départ, n'était qu'une histoire romantique où un
      |jeune couple part en vacances dans les Îles grecques. Puis cette histoire prit
      |une tournure imprévue. J'ai découvert, à la lumière des connaissances du XXIe siècle,
      |une compréhension de la Bible qui, jusque-là, ne m'avait même jamais effleuré
      |l'esprit. Du coup, la Genèse a été revisitée : la métaphore de la côte d'Adam
      |expliquée, le chaînon manquant dévoilé. Puis les explications au sujet des apparitions
      |de Fatima m'ont bouleversée et la révélation du chiffre de la bête, le « 666 »,
      |m'a abasourdie. Ensuite est venue l'interprétation du proverbe égyptien «
      |L'Homme craint le temps, mais le temps craint les pyramides. » Ces dernières
      |étant situées près d'une poudrière où le nucléaire y est fortement représenté
      |et où tout nouveau conflit peut facilement dégénérer en apocalypse…

    p Ce roman
      |catastrophe nous laisse toutefois sur une note positive : une rédemption étant
      |offerte aux humains ayant refusé ce que le gouvernement leur imposait. Aussi
      |ces derniers échappent-ils de justesse à la destruction totale, au Requiem pour
      |la Terre.

    p J'espère que vous aurez autant d'intérêt à lire ce roman qui s'est imposé que moi à colliger
      |les informations oniriques qui m'ont été révélées.