extends layouts/layout

block title
  h1 Requiem<br />pour la terre

block content
  .content_img
    a(href="images/tableau_hd.jpg")
      img(width="200" border="0" src="images/tableau.jpg")
  .content_gray_summary.commander
    h2 Commander dès maintenant
    p &nbsp;

      p Éditeur : Francine Lefebvre
      p ISBN : 978-2-9813648-2-1

      .separation

      a(target="_blank" href="http://www.amazon.ca/Requiem-pour-la-Terre-ebook/dp/B00AIC1J1E/ref=sr_1_1?ie=UTF8&qid=1365979907&sr=8-1")
        .buyAmazonBox
          div(style="text-align: center;")
            img(src="images/amazon_platforms.gif")
          |Lisez ce livre sur votre ordinateur ou sur d'autres appareils mobiles avec les applications gratuites de lecture Kindle.
      p Prix : 8.89 CDN
      p Commander notre <b>livre électronique</b> sur Amazon :
      p
        a(target="_blank" href="http://www.amazon.ca/Requiem-pour-la-Terre-ebook/dp/B00AIC1J1E/ref=sr_1_1?ie=UTF8&qid=1365979907&sr=8-1")
          img(src="images/buy_amazon.png")

      p &nbsp;

      .separation

      p Prix : 19.95$ CDN
      p Commander notre <b>livre papier</b> sur Lulu.com :
      a(target="_blank" href="https://www.lulu.com/en/us/shop/francine-lefebvre/requiem-pour-la-terre/paperback/product-1mwkpree.html")
        .button.blue.large Acheter sur Lulu.com

      .separation

      p Vous pouvez également commander chez votre libraire.
      p Pour toutes autres questions, cliquez sur <a href="contact.html"><span class="button blue large">Contactez-nous</span></a>