extends layouts/layout

block title
  h1 Contact

block content
  .content_gray_summary
    p Vos commentaires sont importants pour moi.
    p Il me fera plaisir d'échanger ou de répondre à vos questions.
    p Écrivez-moi à l'adresse suivante : <a href="mailto:requiempourlaterre@gmail.com">requiempourlaterre@gmail.com</a>
    p.align_right Amicalement,
    p.align_right Francine Lefebvre