extends layouts/layout

block title
  h1 Requiem<br />pour la terre

block content
  .content_gray_summary
    .content_img
      a(href="images/tableau_hd.jpg")
        img(width="200" border="0" style="float: left; margin-right: 10px;" src="images/tableau.jpg")
      .table_des_matieres
        div
          .left Chapitre 1.	Lune de miel
          .right 5
        div
          .left Chapitre 2.	La disparition
          .right 48
        div
          .left Chapitre 3.	La recherche des disparus
          .right 78
        div
          .left Chapitre  4.	Connais-toi toi-même
          .right 89
        div
          .left Chapitre  5.	La Genèse démystifiée
          .right 117
        div
          .left Chapitre  6.	La salle des Dons
          .right 158
        div
          .left Chapitre  7.	Cœur de l'Univers
          .right 179
        div
          .left Chapitre  8.	Le chiffre de la bête : le « 666 »
          .right 212
        div
          .left Chapitre  9.	L'Apocalypse
          .right 295
        div
          .left Épilogue
          .right 327

      br(style="clear: both;")

    p &nbsp;
    h2.chapter 1. Lune de miel
    p &nbsp;
    p Aéroport John F. Kennedy, New York.
    p &nbsp;
    p.
      Un agent de bord d’Olympic Airways priait les retardataires du
      vol 411 en partance pour Athènes de se rendre immédiatement au quai
      d’embarquement numéro 5.

    p.
      Malgré ce dernier avertissement, Dani et Catherine ne
      bronchaient pas, préférant faire le pied de grue devant le comptoir
      d’enregistrement des bagages, dans l’espoir de voir arriver Laurana, leur
      gardienne attitrée.
    p.
      — Est-ce que tu la vois ? dit Catherine après avoir inspecté
      toutes les silhouettes de son regard scrutateur.
    p.
      — Ne t’inquiète donc pas, elle va bien finir par arriver.
    p.
      — Tu ne la connais pas aussi bien que moi. Occupée comme elle
      est avec son double emploi, elle ne trouvera peut-être pas le temps
      de venir chercher nos clés. Ça fait maintenant un mois que nous
      sommes installés dans notre nouvel appart et elle n’a même pas pris
      la peine de venir nous visiter. J’espère au moins qu’elle saura
      faire fonctionner nos nouveaux électro.
    p.
      — Hé&nbsp;! Catherine, regarde là-bas, dit-il en pointant son
      index vers la rampe de l’escalier mécanique.
    p.
      — Oui, c’est elle&nbsp;! La voilà enfin. Pas trop tôt Laurana.
      Vite, cours, on est ici&nbsp;! criait-elle en brandissant les bras
      au-dessus de sa tête.
    p.
      Hors d’haleine, Laurana s’arrêta quelques instants, puis reprit
      sa course effrénée. Une fois rendue à portée de voix, elle leur
      présenta ses excuses&nbsp;:
    p.
      — Je suis vraiment désolée de mon retard, leur dit-elle
      haletante. J’ai dû faire des heures supp. Donnez-moi vite vos clés
      et écrivez-moi le code de votre système d’alarme.
    p.
      Encore essoufflée, elle leur souhaita de faire un très beau
      voyage et les encouragea à célébrer avec faste leurs noces de
      coton. Sur ces bons vœux qui paraissaient pourtant sincères,
      Catherine s’empressa de la remercier en sachant fort bien que la
      jalousie lui transpirait par tous les pores. La pauvre Laurana ne
      pourrait jamais, faute d’argent, faire un si beau voyage, et elle
      en pâtissait maladivement. Mais l’heure n’était plus à l’étude des
      troubles caractériels de Laurana, le temps pressait. Sentant le
      regard courroucé du responsable de l’embarquement braqué sur elle,
      Catherine comprit l’urgence de faire ses adieux.
    p.
      — Laurana, prends bien soin de notre Cachemire.
    p.
      — Certainement. Pars en paix et ne t’inquiète pas&nbsp;: je
      trouverai bien ce qu’il lui faut. Pressez-vous, le steward vous
      attend.
    p.
      — À dans quinze jours&nbsp;! J’espère que la date de notre
      retour ne sera pas renvoyée aux calendes grecques à cause
      d’attentats terroristes ou de Dieu sait quoi, mâchonnait-elle la
      tête enfouie dans son sac, fouillant pour mettre la main sur les
      billets.
    p.
      — Arrête de chercher, je les ai, dit Dani en se penchant pour
      ramasser leurs bagages à main. Mets fin à tes adieux et
      suis-moi.
    p.
      Après une dernière accolade qui n’en finissait plus, Catherine
      le rejoignit en courant. Les deux vacanciers disparurent dans la
      foule.
    p.
      Laurana, gênée de s’immiscer dans leur intimité avant le
      décollage de leur Boeing 747, décida d’aller déguster un verre de
      bénédictine au bar de l’aérogare. Mais dès que le vol 411 s’ébranla
      sur le tarmac, elle déposa sa consommation sur le comptoir, ramassa
      ses valises et, d’un pas assuré, longea les longs couloirs en
      regardant les logos des compagnies aériennes. Une fois rendue à
      l’emplacement réservé aux «&nbsp;Yellow cabs&nbsp;»<i>,</i> elle y
      héla un taxi qui la conduisit à l’angle de la 56<sup>e</sup> rue et
      de la 5<sup>e</sup> avenue.
    p &nbsp;
    p.
      Arrivée devant leur gratte-ciel, elle étouffa ses cris de joie.
      <i>Ça alors&nbsp;!</i> pensa-t-elle<i>, si j’avais su que c’était
      ce gratte-ciel-ci, j’serais venue le visiter bien avant. Ma fille,
      ne montre pas</i> <i>au chauffeur que tu y mets les pieds pour la
      première fois. Fais la blasée.</i>
    p.
      La nouvelle résidante, nez en l’air, traversa le vestibule en
      exhibant d’un geste d’habitué la clé numéro 4624 au vigile de
      l’entrée. Rendue à son sanctuaire niché au 46<sup>e</sup> étage et
      éblouie par tant de richesse, elle s’en voulait d’avoir refusé les
      invitations que Catherine lui avait adressées le mois dernier. Dès
      l’ouverture de la porte, elle resta bouche bée. Elle était
      incapable d’embrasser du regard la vaste salle de séjour aux
      teintes rosées, d’où émanait une note de gaieté. <i>Leur ancien
      appartement était beau, très beau même, mais celui-ci est… J’ai
      oublié le mot. Ah oui&nbsp;! Ça me revient… cossu.</i>
    h2
      a(href="premierChapitre.html#sauterDebut")
        .button.yellow.super Suite du premier chapitre