extends layouts/layout

block title
  h1 Remerciements

block content
  .content_gray_summary
    p &nbsp;
    .a_la_memoire
      p À la mémoire de ma grande amie Louise Bourdeau qui m'a soutenue et encouragée tout au long de la rédaction de mon roman ainsi que pour sa disponibilité exceptionnelle

    p &nbsp;

    p(style="font-size: 1.4em;") Un remerciement particulier à
    p mon mari Gilles pour son écoute et son appui indéfectible
    p mon fils <a href="http://www.facebook.com/profile.php?id=507794762">Jean-Philippe</a> pour la création et la gestion de mon site WEB ainsi que pour son support informatique.
    p <a href="http://simonpierlabelle.com/">Simon-Pier Labelle-Hogue</a> pour sa correction rigoureuse et efficace
    p Pierre-Luc Beauchesne pour son soutien et pour ses conseils juridiques
    p <a href="http://www.dominiquefihey.com/">Dominique Fihey</a> pour le magnifique tableau de la page couverture intitulé
    |"Et je vis un cavalier blanc"
    p mes collègues de la Bijouterie Lavigueur pour leur encouragement
    p ma famille et à mes amis qui m'ont constamment appuyée