extends layout

block content
  .content_img
    img(src="images/page_principale.jpg")
  .content_gray_summary
    h2 Résumé
    p Dani et Catherine, en lune de miel sur une île grecque, voient
      |leur avenir en tant que Terriens réduit à néant lors de leur
      |enlèvement à bord d'un vaisseau spatial.

    p En route vers la planète Arka, leur présumée nouvelle terre d'adoption,
      |Élias, le commandant en chef du vaisseau-mère, leur révélera les
      |secrets de l'univers. À la lumière des connaissances du XXIe siècle, la Genèse
      |sera revisitée, la métaphore de la côte d'Adam expliquée, le chaînon manquant dévoilé
      |et le «&nbsp;666&nbsp;», le chiffre de la bête
      |décrypté. Ensuite leur sera divulguée l'interprétation du proverbe égyptien
      |«&nbsp;L'Homme craint le temps, mais le temps craint les pyramides.&nbsp;» Ces dernières
      |étant situées près d'une poudrière où tout nouveau conflit peut facilement
      |dégénérer en guerre nucléaire…
    p Connaissant l'Avenir de la Terre, Élias leur dévoilera le chemin que les
      |humains doivent emprunter s'ils veulent connaître le piège à éviter pour
      |échapper à l'Apocalypse.
    p Ce roman catastrophe serait-il qualifié de visionnaire par les générations
      |futures si l'épilogue s'avérait être vrai&nbsp;?
